td {
  padding: $tableDataPadding;
  text-align: center;
}

th {
  padding: $tableHeaderPadding;
}

tr:nth-child(odd) {
  background-color: $rowColorOdd;
}

tr:nth-child(even) {
  background-color: $rowColorEven;
}

button {
  position: relative;
  left: 45%;
}

table {
  margin: 0 auto;
  width: 80%;
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
}

.ng-invalid.ng-touched {
  border: 1px solid red;
}
